.app-header
    z-index: 10

.app-title
    display: inline-block
    vertical-align: top
    width: 20%
    letter-spacing: $spacing-15

    h2
        cursor: pointer

.top-nav
    display: inline-block
    vertical-align: top
    width: 70%
    text-align: center
    padding-top: .2em

    .menu-item
        font-family: Montserrat
        font-size: $medium-text
        font-weight: $bold-6
        letter-spacing: $spacing-5
        padding: $zero $spacing-15
        cursor: pointer        

        &:not(:first-child)
            margin-left: $spacing-15

        &:not(:last-child)
            margin-right: $spacing-15

.search-control
    display: inline-block
    vertical-align: top
    width: 10%
    text-align: right
    margin-top: .5em

    img
        width: 1.5em
        cursor: pointer
        


