.app
    color: $white
    background: $black
    min-height: 100vh

.main-container
    position: relative
    padding: $spacing-65 $spacing-75
    
.content-wrapper
    position: relative
    z-index: 5

.landing-form
    margin: $spacing-180 $zero $spacing-25 $spacing-200

    .form-group
        margin-top: $spacing-40
