.control-wrapper
    border: $thin-border solid transparentize($white, 0.6)
    display: inline-block
    padding: $spacing-30 $spacing-30 
    margin-right: $spacing-20

    &.select-wrapper
        width: $select-width
        background: transparentize($white, 0.95)

    &.button-wrapper
        border-color: transparentize($mint, 0.75)
        background: transparentize($mint, 0.98)