@charset "UTF-8"

//colors
$white          : #ffffff
$black          : #000000

// Font weight
$bold-1: 100
$bold-2: 200
$bold-3: 300
$bold-4: 400
$bold-5: 500
$bold-6: 600
$bold-7: 700


// Font-sizes
$small-text         	    : 12px
$medium-text        	    : 14px
$regular-text			    : 16px
$p-font-size                : 18px
$h1-font-size       	    : 48px
$h2-font-size       	    : 36px
$h3-font-size       	    : 24px
$h4-font-size       	    : 20px
$h5-font-size       	    : 16px
$h6-font-size       	    : 12px
$button-font-size           : 18px

// Breakpoints
$size-sm        : 576px
$size-md        : 768px
$size-lg        : 992px
$size-xl        : 1200px
$size-retina    : 1600px


$thin-border            : 2px

$default-transition-duration : .3s