*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    font-family: Avenir Next, Open Sans, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

iframe
    border: 0